version: '3.9'
services:

  php:
    build: ./src/php
    volumes:
      - ./src/app:/var/www/html
    depends_on:
      - db

  nginx:
    image: nginx:latest
    ports:
      - 8000:80
    environment:
      - PORT=8000
    volumes:
      - ./src/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./src/app:/var/www/html
    depends_on:
      - php

  db:
    image: mysql:8.0
    ports:
      - 3306:3306
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    volumes:
      - ./src/data:/var/lib/mysql
      - ./src/my.cnf:/etc/mysql/conf.d/my.cnf
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: laravel_project
      MYSQL_USER: user
      MYSQL_PASSWORD: password

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    ports:
      - 8080:80
    depends_on:
      - db
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: root
